In [7]:
import pandas as pd

SyntaxError: invalid syntax (3564508045.py, line 2)

In [8]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
     ------------------------------------- 249.8/249.8 kB 96.4 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
import openpyxl

In [14]:
data=pd.read_excel("C:\\Users\\R\Downloads\\IHP 525 Data Analysis Data Setxls (for assignments).xlsx")

C:\Users\R\AppData\Roaming\Python\Python310\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [15]:
data.head()

   id  admitdate    foldate  los  lenfol  fstat  age  gender       bmi
0   1 1995-03-13 1995-03-19    4       6      1   65       0  31.38134
1   2 1995-01-14 1996-01-23    5     374      1   88       1  22.65790
2   3 1995-02-17 2001-10-04    5    2421      1   77       0  27.87892
3   4 1995-04-07 1995-07-14    9      98      1   81       1  21.47878
4   5 1995-02-09 1998-05-29    4    1205      1   78       0  30.70601

In [21]:
data_new=data[data['gender']==0]

In [26]:
print(data_new.to_string())

     id  admitdate    foldate  los  lenfol  fstat  age  gender       bmi
0     1 1995-03-13 1995-03-19    4       6      1   65       0  31.38134
2     3 1995-02-17 2001-10-04    5    2421      1   77       0  27.87892
4     5 1995-02-09 1998-05-29    4    1205      1   78       0  30.70601
8     9 1995-08-18 1996-02-23    5     189      1   76       0  27.12082
9    10 1995-07-22 2002-12-31    9    2719      0   40       0  21.78971
11   12 1995-05-26 1996-09-29   11     492      1   83       0  24.66175
13   14 1995-12-14 2002-12-31   10    2574      0   58       0  29.83756
14   15 1995-11-08 2002-12-31    7    2610      0   43       0  22.95776
15   16 1995-10-08 2002-12-31    5    2641      0   39       0  30.10881
16   17 1995-10-17 2000-05-12    6    1669      1   66       0  31.99738
17   18 1995-10-30 2003-01-05    9    2624      1   61       0  30.71420
18   19 1995-12-10 2002-12-31    6    2578      0   49       0  25.69548
20   21 1995-10-05 1996-02-05    6     123      1   85       0  18.41038
22   23 1995-09-09 1997-10-22    4     774      1   54       0  28.97529
23   24 1995-09-09 2001-03-13   14    2012      1   82       0  19.90095
26   27 1995-10-18 2002-12-31    2    2631      0   68       0  26.44693
27   28 1995-03-16 2000-06-04    7    1907      1   78       0  28.20595
28   29 1995-10-25 1997-04-15    5     538      1   56       0  24.11997
30   31 1995-09-03 1995-09-09    4       6      1   72       0  27.97907
31   32 1995-06-30 1999-05-01    5    1401      1   50       0  20.36300
35   36 1997-02-23 2002-12-31   12    2137      0   75       0  23.67519
36   37 1997-01-01 2002-12-31   16    2190      0   61       0  23.43140
37   38 1997-01-18 2002-12-31    5    2173      0   48       0  33.45110
39   40 1997-03-18 2002-12-31   10    2114      0   82       0  25.82748
40   41 1997-02-03 2002-12-31    4    2157      0   62       0  30.86625
41   42 1997-05-17 2002-12-31    5    2054      0   39       0  24.21079
42   43 1997-03-08 2002-12-31    5    2124      0   45       0  31.66439
43   44 1997-02-23 2002-12-31    4    2137      0   65       0  26.22085
46   47 1997-04-27 2002-12-31    9    2074      0   68       0  21.30550
47   48 1997-05-15 1998-02-13    7     274      1   73       0  26.45678
48   49 1997-07-26 2002-12-31    4    1984      0   64       0  27.97977
49   50 1997-07-17 2002-12-31    6    1993      0   80       0  36.02333
54   55 1997-09-09 2002-12-31   17    1939      0   80       0  25.50204
57   58 1997-09-24 2001-10-30    6    1497      1   92       0  24.36640
58   59 1997-09-19 2002-12-31    3    1929      0   51       0  34.77034
59   60 1997-04-17 2002-12-31    1    2084      0   41       0  27.26234
60   61 1997-10-21 1998-02-05    6     107      1   90       0  24.78423
61   62 1997-10-02 1998-12-27    4     451      1   83       0  21.80987
62   63 1997-01-08 2002-12-31    3    2183      0   61       0  27.36909
63   64 1997-11-11 2002-12-31    7    1876      0   64       0  26.22085
64   65 1997-11-07 2000-05-31    3     936      1   82       0  26.88683
66   67 1997-06-18 2000-05-01    5    1048      1   48       0  31.58373
67   68 1997-10-29 2002-12-31   12    1889      0   63       0  23.33267
68   69 1997-04-29 2002-12-31    5    2072      0   81       0  28.35006
69   70 1997-11-08 2002-12-31    7    1879      0   52       0  32.63621
70   71 1997-11-17 2002-12-31    4    1870      0   65       0  31.95113
71   72 1997-11-28 2002-12-31    5    1859      0   74       0  25.01782
72   73 1997-05-19 2002-12-31    5    2052      0   62       0  30.22827
74   75 1997-05-10 2002-12-31    7    2061      0   71       0  32.32407
75   76 1997-10-06 2002-12-31    3    1912      0   73       0  31.47445
76   77 1997-12-21 2002-12-31    5    1836      0   43       0  28.59188
77   78 1997-11-22 1998-03-16    7     114      1   80       0  33.36074
78   79 1997-10-31 2002-02-04    7    1557      1   72       0  21.80987
79   80 1997-06-28 2000-12-27    5    1278      1   57       0  23.57087
81   82 1997-10-02 2002-12-31    6    1916      0   76       0  28.03555
82   83 1997-09-14 2002-12-31    3    1934      0   53       0  24.21079
83   84 1997-09-25 2002-12-31   10    1923      0   44       0  32.60387
84   85 1997-12-02 1998-01-15    3      44      1   71       0  23.05630
85   86 1997-09-26 2002-12-31    6    1922      0   64       0  31.75016
86   87 1997-10-24 1998-07-25    5     274      1   86       0  21.10959
90   91 1997-10-22 1998-04-22    5     182      1   60       0  23.18023
91   92 1997-06-27 2002-12-31    4    2013      0   63       0  35.48949
93   94 1997-12-12 2002-05-24    4    1624      1   74       0  30.13206
98   99 1997-08-10 2002-12-31   16    1969      0   56       0  29.05295
99  100 1997-03-26 2000-02-13    7    1054      1   74       0  32.89087